.currency-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
  max-height: 100px;
  flex: 1;
  border: 1px solid black;
  padding-left: 15px;
  box-sizing: border-box;
}

.currency-item .currency-table {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid black;
  width: 30%;
  height: 100%;
}
